<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Туры - Ardin</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/css/tours.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div id="tours">
        <h1>Tour list</h1>

        <div class="contentbody">
            <div class="filterBody">
                <span class="title">Фильтр</span>
            </div>

            <div class="tours">
                <div>
                    <span class="title">Все туры</span>
                </div>

                <% for( let i = 0; i < hotels.length; i++ ) { %>

                    <div class="hotel">
                        <div class="hotel_img_block" style="background-image: url('<%= hotels[i].img %>')">
                        </div>
                        <div class="hotel_info">
                            <div class="hotelTitleBody">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <span class="hotel_title"> <%= hotels[i].hotel_name %> </span>
                                        <span class="stars">
                                            <% for( let s = 0; s < hotels[i].stars; s++ ) { %>
                                                <!-- ★ -->
                                                <img src="/images/star.png" style="height: 12px; margin: 0 1.5px;" alt="">
                                            <% } %>
                                        </span>
                                    </div>
                                    <span class="hotel_geo"><%= hotels[i].country_name %>, <%= hotels[i].city_name %></span> <br> <br>
                                </div>
                                <div>

                                </div>
                            </div>

                            <span class="hotel_desc">
                                <%= hotels[i].description %> 
                            </span> <br> <br>
                            <div class="hotel_tour_list">
                                <span class="hotel_lists_item">
                                    Вылет: <br>
                                    <b style="font-size: 14px;"> Алматы </b>
                                </span>
                                <span class="hotel_lists_item">
                                    Питание: <br>
                                    <b style="font-size: 14px;"> ALL </b>
                                </span>
                                <span class="hotel_lists_item">
                                    Дней: <br>
                                    <b style="font-size: 14px;"> 7 </b>
                                </span>
                            </div>

                            <!-- <div>
                                <span class="signup_button">
                                    <div class="signup_button_first">
                                        <span>Цена за 1 человека</span> <br>
                                <span><%= hotels[i].price %> </span>
                                </span>
                            </div> -->
                        </div>
                    </div>
                    <% } %>

            </div>
        </div>
    </div>


    </div>

    </div>




    </div>

</body>

<script>
    console.log('PAGE IS LOADED')
    console.log("Hotels array: ")
</script>

</html>